@import '../../../variables';

.chartBox {
  grid-column: 1;
  background: $white;
  border: 1px solid $cardBorder;

  .chartHeader {
    height: 4rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .date {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .datePicker {
      display: flex;
      align-items: center;

      .dropdown {
        position: relative;
        margin-right: 2.5rem;

        .dropBtn {
          padding: 0.5rem 0 0.5rem 0.6rem;
          width: 140px;
          background: url('../../../assets/icons/down-chevron-faded.png');
          background-repeat: no-repeat;
          background-size: 0.5rem;
          background-position: 90% 57%;
          border: 1px solid $faded;
          border-radius: 3px;
          font-family: inherit;
          font-size: 0.785rem;
          text-align: left;
          color: $faded;
          outline: none;
          cursor: pointer;
        }
      }

      .navButtons {
        display: flex;

        .navBtn {
          background-color: rgba(248, 247, 247, 0.5);
          width: 30px;
          height: 25px;
          padding: 0.3rem;
          border: 1px solid $faded;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $faded;
          outline: none;
          cursor: pointer;

          &:nth-child(1) {
            margin-right: 0.7rem;
          }
        }
      }
    }
  }

  .chartArea {
    svg {
      g {
        text {
          font-weight: bold;
          fill: $black;
        }

        &[class^='raphael-group']:nth-last-child(2) {
          > text {
            display: none;
          }
        }
      }
    }
  }
}
