@import '../../../variables';

.sider {
  width: $full;
  padding: 2rem 0;
  background: white;
  grid-row: 2;
  grid-column: 1;
  // height: calc(100vh - 75px);

  .generateInvoice {
    padding-left: 2.5rem;
    margin-bottom: 2rem;

    .invoiceBtn {
      background: $green;
      border: 1px solid $green;
      font-size: 0.8rem;
      width: 163px;
      font-weight: 600;
      border-radius: 30px;
      padding: 0.4rem 0;
      color: $white;
      outline: none;
      cursor: pointer;
    }
  }

  .menu {
    width: $full;
    margin: 0 auto;
    color: $ghost;

    .menuItems {
      list-style-type: none;
      padding: 0;

      .menuItem {
        margin-bottom: 1.7rem;

        .itemHeading,
        .subItem {
          padding-left: 3.4rem;
        }

        .itemHeading {
          margin-bottom: 0.8rem;
        }

        .subItem {
          margin-bottom: 1rem;

          &.active {
            background: $lightBlue;
            padding: 0.5rem 0 0.5rem 3rem;
            border-left: 5px solid $blue;
          }

          svg {
            margin-right: 0.7rem;
            vertical-align: middle;
            width: 23.264px;
          }
        }
      }
    }
  }
}
