@import '../../../variables';

.header {
  width: $full;
  padding: 0 3.5rem;
  box-shadow: $boxShadow;
  display: grid;
  grid-template-columns: 257px auto;
  align-items: center;
  grid-row: 1;
  grid-column: 1/3;
  z-index: 200;

  .logo {
    width: 300px;
  }
}
