// variables

$full: 100%;
$boxShadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
$ghost: #647787;
$faded: #cccc;
$green: #27ae60;
$white: white;
$robotoFont: 'Roboto', sans-serif;
$cardBorder: #eef8fd;
$lightBlue: #e8f1fd;
$blue: #1875f0;
$gray: #f7f8fa;

// mixins
